@tailwind base;
@tailwind components;
@tailwind utilities;

.block {
    display: block;
}

.height {
    height: 90vh;
}

.text-h2 {
    text-align: center;
    color: #e30f0b;
    font-family: 'Famous-College';
    font-size: 3rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.red-button {
    background-color:#e30f0b;
}

.padding-top {
    padding-top: 21vh;
}

/* Responsive styling */
@media (max-width: 820px) {
    .padding-top {
        padding-top: 16vh;
    }

    .width {
        width: 50%;
        margin-right: 1vw;
    }
    .height {
        height: 90vh;
    }

    .flex {
        justify-content: flex-end;
    }

    .text-lg {
        line-height: 2.75rem;
    }

    .z-index {
        z-index: 0;
    }
}

@media (min-width: 768px) {
    .z-index {
        z-index: 0;
    };
}

@media (max-width: 932px) and (orientation: landscape) {
    .height {
        height: 143vh;
    }

    .z-index {
        z-index: 0;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .z-index {
        z-index: 0;
    }
}

@media (max-width: 768px) {
    .z-index {
        z-index: 0;
    }

    .padding-top {
        padding-top: 10vh;
    }

    .height {
        height: 100vh;
    }
}


@media (max-width: 844px) and (orientation: landscape) {
    .height {
        height: 150vh;
    }
}

@media (max-width: 667px) and (orientation: landscape) {
    .padding-top {
        padding-top: 16vh;
    }

    .height {
        height: 157vh;
    }
}