@tailwind base;
@tailwind components;
@tailwind utilities;

.block {
    display: block;
}

.height {
    height: 90vh;
}

.text-h2 {
    text-align: center;
    color: #e30f0b;
    font-family: 'Famous-College';
    font-size: 3rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.red-button {
    background-color:#e30f0b;
}

/* Responsive styling */
@media (max-width: 768px) {
    .z-index {
        z-index: 0;
    }
}