@font-face {
  font-family: 'Famous-College';
  src: url('/src/Fonts/Famous-College.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/src/Fonts/Poppins-Regular.ttf') format('truetype');
}

.header {
  background-image: url('/public/image/image-de-fond.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; 
}

.header > * {
  position: relative;
  z-index: 2;
}
  
h1 {
  font-family: 'Famous-College';
  font-size: 8rem;
  margin-top: 12vh;
  margin-bottom: 0;
  color: #e30f0b;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

.description-header {
  font-family: 'Poppins-regular';
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.button-complet {
  display: flex;
  align-self: center;
  cursor: pointer;
}

.button-recrutement {
  width: 15vw;
  height: 10vh;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 35px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recrutement-dossier {
  font-family: 'Poppins-regular';
  font-size: 1.5rem;
  color: white;
  text-align: center;
  transition: color 0.3s ease;
}

.button-complet:hover .button-recrutement {
  border-color: #e30f0b;
}

.button-complet:hover .recrutement-dossier {
  color: #e30f0b;
}


.scroll-down {
  display: flex;
  justify-content: center;
}

.image-scroll-down {
  width: 6vw;
  height: 6vh;
}

@media (max-width: 1024px) {
  .description-header {
    font-size: 2rem;
  }

  .button-recrutement {
    width: 25vw;
  }

  .image-scroll-down {
    width: 9vw;
  }
}

@media (max-width: 768px) {
  .description-header {
    font-size: 2rem;
  }

  .button-recrutement {
    width: 50vw;
  }

  .image-scroll-down {
    width: 18vw;
  }

  h1 {
    line-height: 1;
    margin-top: 22vh;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  h1 {
    font-size: 5rem;
  }

  .button-recrutement {
    width: 27vw;
  }

  .image-scroll-down {
    width: 7vw;
  }
}

@media (max-width: 844px) and (orientation: landscape) {
  h1 {
    font-size: 5rem;
  }

  .button-recrutement {
    width: 27vw;
  }

  .image-scroll-down {
    width: 6vw;
  }
}

@media (max-width: 932px) and (orientation: landscape) {
  .image-scroll-down {
    width: 5vw;
  }
}