.container-footer {
    height: 10vh;
}

.position-footer {
    bottom: 0;
    background-color: white;
}

@media (max-width: 767px) {
    .position-footer {
        background-color: white;
        width: 100vw;
        height: 26vh;
    }
}

@media (max-width: 668px) and (orientation: landscape) {
    .position-footer {
        height: 15vh;
    }
}

@media (max-width: 844px) and (orientation: landscape) {
    .position-footer {
        height: 15vh;
    }
}