@import url('/src/Fonts/font-style.css');

.topStrip {
  background-color: #fff;
  height: 1vh;
  width: 100%;
  position: absolute;
  top: 1vh;
  left: 0;
  z-index: 9;
}

.bottomStrip {
  background-color: #fff; 
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 1vh;
  left: 0;
  z-index: 9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #e30f0b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.logo img {
  height: 50px;
}

.navLinks {
  display: flex;
  list-style: none;
  margin-right: 1vw;
}

.navLinks li {
  margin-left: 2rem;
  font-family: 'poppins-Bold';
  font-size: 1.5rem;
  margin-right: 8vw;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: black;
  transition: all 0.3s ease;
}

/* Burger menu styles */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



/* Responsive styling */
@media (max-width: 768px) {

  /* Ici le display: none est appliqué sur le menu afin que lorsque le menu
  n'est pas activé, il soit cache */
  .navLinks {
      position: absolute;
      top: 37px;
      right: 0;
      height: calc(50vh - 60px);
      background-color: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.8s ease;
      display: none;
  }

  .navLinks.active {
    transform: translateX(0%);
    display: flex;
  }

  .navLinks li {
    margin: 1.5rem 0;
  }

  .burger {
    display: flex;
  }

  .topStrip {
    height: 0.5vh;
    top: 0.5vh;
  }
  
  .bottomStrip {
    height: 0.5vh;
    bottom: 0.5vh;
  }
}  